<html>
    <head></head>
    <body>
        <%for(var i=0; i<5; i++){ %>
            <div>
                <%=i%>
            </div>
       <% }%>
       
 
        <a href="test04">홈으로 가기</a>

    </body>
</html>