<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        function go_convenient(){
            console.log('편의점에 들어가서 어떤 음료를 살지 고민한다.');
        }
        function pick(){
            return new Promise(function(resolve, reject){
                setTimeout(function() {
                    console.log('고민이 끝났다!');
                    product = "콜라";
                    payment = 1500;
                    resolve();
                }, 3000);
            })
        }
        function pay(){
            console.log(`${product}의 금액인 ${payment}원을 지불한다.`);
        }

        //await 은 뒤 async 함수내에서만 사용 가능,
        //
       async function exec() {
       
        var product;
        var payment;
        go_convenient();
        await pick();
        pay();
       }


        function add(n1,n2){
            return new Promise(function(resolve,reject){
            setTimeout(function(){
                var result = n1 + n2;
                resolve(result)
            }, 1000)
            })
        }

        function mul(num){
            return new Promise(function(resolve,reject){
            setTimeout(function(){
                var result = num * 3;
                resolve(result)
            }, 700)
            })
        }
        function sub(num){
            return new Promise(function(resolve,reject){
            setTimeout(function(){
                var result = num-2;
                resolve(result)
            },500);
        })
        }

async function 기다려(){
      await  add(3,2)
        .then(function(result){
            console.log("1:" , result);
            return mul(result);
        })
        .then(function(result){
            console.log("2: " ,result);
            return sub(result);
        })
        .then(function(result){
            console.log("3 : ", result)
        });
    }
//=========================================================

        function call(name){
            return new Promise (function(resolve,reject){
             setTimeout( function(){
                 console.log( name ); 
                 resolve(name);
            }, 1000 );
         })
        } 
        function back(txt) { 
            return new Promise(function(resolve,reject){
            setTimeout( function() { 
                console.log(txt );
                resolve(txt) 
             }, 1000 );
            })
         } 
         function hell(message){
            return new Promise(function(resolve,reject){
             setTimeout( function() {
                resolve("collback hell")     
                return resolve;
            }, 1000 ); 
            })
        } 
       
    async function bibi(){   
       
      
        let user = await call('kim');
        console.log(user + "반가웡");
        
        let push = await back("back");
        console.log(push + "를 눌렀구낭~!");

        let 콜백헬 = await hell();
        console.log("여기는..." + 콜백헬);
    }
    bibi();
        //========================================================




    </script>
</body>
</html>