<html>
    <head></head>
    <body>
        

        <div style="background-color: red; width: 100%; height:200px ;"></div>
        <img src="/static/image/room1.jpg" alt="안보이지롱">        
    
    </body>
</html>